body {
    padding-top: 150px;
    padding-bottom: 200px;
}

#search-bar {
    width: 500px;
}
 #brand {
     color: white;
 }

 #home {
     color: white;
 }

 #about {
     color: white;
 }

 #books {
     color: white;
 }

 body {padding-top: 70px;}

 h1.heading{
     display: flex;
     justify-content: center;
 }

#about-container {
    max-width: 1000px;
    max-height: 2000px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

}

 ul.name-list {
   display: grid;

}

 li.name-list-itemMB {
    list-style-image: url('https://img0.etsystatic.com/000/0/5311612/il_75x75.190235982.jpg');
    
}
    
li.name-list-itemKL {
    list-style-image: url('https://img0.etsystatic.com/000/0/5311612/il_75x75.190235982.jpg');
        
}

li.name-list-itemEO {
    list-style-image: url('https://img0.etsystatic.com/000/0/5311612/il_75x75.190235982.jpg');
        
}

li.name-list-itemAR {
    list-style-image: url('');
        
}
