body {
  margin: 0;
  background-color: #fff;
}

/* Begin Navbar CSS */

.hamburgerLinks {
  margin: 0px;
}

.nav-container div {
  font-family: Rajdhani, sans-serif;
}

.nav-container a {
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}

.nav-container {
  background-color: #160640;
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 0.1fr 180px 100px 100px repeat(7, auto) 100px;
  grid-template-rows: 0.7fr 0.8fr;
  grid-template-areas:
    "title title title title . . . . . . login cart"
    "hamburger home books about . . . search search search search search";
}

.linkCenter {
  text-align: center;
  font-size: 20px;
  padding-top: 20px;
}

.titleLink {
  grid-area: title;
  padding-top: 5px;
  font-size: 25px;
}

.loginLink {
  grid-area: login;
  font-size: 18px;
  padding-right: 15px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.cartLink {
  grid-area: cart;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.indexLink {
  grid-area: home;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.productLink {
  grid-area: books;
}

.aboutLink {
  grid-area: about;
  min-width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.searchbar {
  grid-area: search;
  padding-right: 20px;

  display: flex;
  justify-content: flex-end;
}

.hamburger {
  display: none;
}

form {
  background-color: #442159;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 40px;
  width: 600px;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}


svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 0px;
}

.fas {
  color: #fff;
}


@media screen and (max-width: 1000px) {
  form {
    max-width: 400px;
  }
}

@media screen and (max-width: 800px) {
  .nav-container {
    background-color: #160640;
    height: 100px;
    width: 100%;
    position: fixed;

    display: grid;
    grid-template-columns: 0.1fr 125px 100px 100px repeat(7, auto) 100px;
    grid-template-rows: 0.7fr 0.8fr;
    grid-template-areas:
      "title title title title . . . . . . login cart"
      "hamburger home books about . . . search search search search search";
  }

  form {
    max-width: 300px;
  }
}

@media screen and (max-width: 600px) {
  .nav-container {
    background-color: #160640;
    height: 100px;
    width: 100%;
    min-width: 350px;
    position: fixed;

    display: grid;
    grid-template-columns: 0.4fr 1fr auto auto;
    grid-template-rows: 0.7fr 0.8fr;
    grid-template-areas:
      "title title login cart"
      "hamburger search search search";
  }

  form {
    max-width: 100%;
  }

  .aboutLink {
    display: none;
  }

  .indexLink {
    display: none;
  }

  .productLink {
    display: none;
  }

  .hamburger {
    display: contents;
    color: white;
    font-size: 40px;
    padding-left: 10px;
    z-index: 3;
    cursor: pointer;

    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /*Begin Mobile Menu Style */

  .vertical-menu {
    padding-top: 150px;
    width: 0;
    height: 100vh;
    background-color: #160640;
    opacity: 100%;
    z-index: 3;
    position: fixed;
    overflow-x: hidden;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  .vertical-menu a {
    background-color: #160640;
    color: darkgray;
    display: block;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
    font-family: Rajdhani, sans-serif;
    white-space: nowrap;
  }

  .vertical-menu a:hover {
    background-color: #442159;
    text-decoration: none;
    color: #fff;
  }

  .vertical-menu a.active {
    color: black;
  }

  /* End Navbar CSS */
}

/* Begin Footer Bar */

.footer-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  background-color: #160640;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  z-index: 3;
}

.footer-links {
  padding-top: 25px;
}

.footer-links a {
  font-family: Rajdhani, sans-serif;
  padding: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.bold-link {
  font-weight: bold;
}

/* End Footer Bar */

/* Begin About Page CSS */

h1.heading {
  display: flex;
  justify-content: center;
}

#about-container {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  position: fixed;
}

.mt-5 {
  padding-top: 50px;
}

ul.name-list {
  display: grid;
}

li.name-list-itemMB {
  list-style-image: url("https://img0.etsystatic.com/000/0/5311612/il_75x75.190235982.jpg");
}

li.name-list-itemKL {
  list-style-image: url("https://img0.etsystatic.com/000/0/5311612/il_75x75.190235982.jpg");
}

li.name-list-itemEO {
  list-style-image: url("https://img0.etsystatic.com/000/0/5311612/il_75x75.190235982.jpg");
}

li.name-list-itemAR {

  list-style-image: url("");
}

.empty-page {
  padding-top: 100px;
  padding-left: 20px;
}

